extends layout
block content
  .row
    .col-sm
      img#frontimg(src="/img/Plus.svg")
      br/
      br/
      br/
      .row
        .col-sm-4
          img(src="/img/police1.png" width='300' height='300')
        .col-sm-4
          img(src="/img/firefighter1.png" width='300' height='300')
        .col-sm-4
          img(src="/img/nurse1.png" width='300' height='300')
      br/
      br/
      br/
      p.text-center #[strong Mindfirst] is a mindfullness app for first responders.
      br/
      ul.nav.navbar-nav.row.text-center
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.btn.btn-info(href='/login') Login
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            a.nav-link(href='/signup') Create Account
        else
          li(class=(title === 'Account Management') ? 'active' : undefined).nav-item
            a.nav-link(href='#')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
                .row.text-center
                  li.nav-item
                    a.btn.btn-warning(href='/account') My Account
                  li.nav-item
                    a.btn.btn-info(href='/dashboard') Dashboard
                  li.nav-item
                    a.btn.btn-danger(href='/logout') Logout
                  